$height: 46px;
.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.wrap {
  width: 100%;
  max-width: 500px;
}

::-webkit-scrollbar {
  width: 7px;
  // background-color: coral;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  // background-color: cornflowerblue;
  background-color: #ddd;
  &:hover {
    background-color: #bbb;
  }
}

.select {
  width: 100%;
  position: relative;

  &__text,
  &__icon {
    pointer-events: none;
  }

  &.open {
    .select__dropdown {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: block;
    }

    .select__input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
    }

    .select__icon {
      transform: rotate(180deg);
    }
  }

  &__input {
    // height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
  }

  &__icon {
    width: 25px;
    height: 25px;
    transition: 0.2s;
    transform-origin: center;
  }

  &__dropdown {
    display: none;
    position: absolute;
    box-shadow: 1px 3px 7px #c8c8c8;
    top: 65px;
    left: 0;
    right: 0;
    max-height: 205px;
    overflow-y: auto;
  }

  &__input,
  &__dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  // &__list {
  // }

  &__item {
    float: none;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
      background-color: #eee;
    }
  }
}
